<% include ../../partials/boilerplate %>

<div class="form-page">
<div class="cafe">

  <h1> Edit Cafe! </h1>

<form action="/cafes/<%=cafe.id%>?_method=PUT" method="POST">

<input name="id" type="number" value="<%= cafe.id %>" style="display:none" />

  <input name="name" type="text" value="<%= cafe.name %>" />
  <input name="animal" type="text" value="<%= cafe.animal %>" />
  <input name="location" type="text" value="<%= cafe.location %>" />

  <input type="submit" value="Edit it!" />
</form>

</div>
  <a href='/cafes/'>Return to Home</a>
</div>

<% include ../../partials/end %>


