<% include ../../partials/boilerplate %>


<div class='cafe'>
  <h1>Name: <%= cafe.name %></h1>
  <h3>Animal: <%= cafe.animal %></h3>
  <h3>Location: <%= cafe.location %></h3>

<form action="/cafes/new" class='post' method="GET">
  <input type="submit" class="addlink" value="Add">
</form>

<!-- <form action="/cafes/edit" class='put' method="GET"> -->
<form action="/cafes/<%=cafe.id%>/edit" class="edit" method="GET">
  <input type="submit" class="editlink" value="Edit">
</form>

<!-- <a href="/cafes/<%=cafe.id%>/edit"> Edit </a> -->

  <form action="/cafes/<%=cafe.id%>?_method=Delete" class="delete" method="POST">
    <input type="submit" class="dellink" value="Delete">
  </form>

  <a href='/cafes/allcafes'>See all cafes</a>
</div>


<% include ../../partials/end %>


